@charset
"UTF-8"
;

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: snow;
}

#menu a:hover {
    text-decoration: underline;
    color: silver;
}

#menu li {
    float: left;
    margin-right: 15px;
}