@charset
"UTF-8"
;

body {
    background-color: aliceblue;
    text-align: center;
}

#wrapper {
    background-color: azure;
    border-left: cadetblue 1px dotted;
    border-right: cadetblue 1px dotted;
    text-align: left;
    width: 1000px;
}

#header {
    background-color: darkgray;
    height: 60px;
}

